body{
  font-family: helvetica,Arial,sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}

/*global*/
.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.button_1{
  height: 38px;
  background: tomato;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff
}

.button_2{
  height: 40px;
  background: tomato;
  border: 0;
  font-size: 16px;
  padding-left: 40px;
  padding-right: 40px;
  color: #ffffff
}

.button_2:hover{
  background: red;
}

ul{
  padding: 0;
  margin: 0;
}

/*header**/
header{
  background: #022942;
  color: #ffffff;
  padding-top: 10px;
  min-height: 50px;
  border-bottom: #e8491d 3px solid;
}

header a{
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float: left;
}

header #branding h1{
  margin: 0;
}

header nav{
  float: right;
  margin-top: 10px;
}

header .highlight, header .current a{
color: tomato;
font-weight: bolder;
}

header a:hover{
  color: #cccccc;
  font-weight: bold;
}

/*showcase*/
#showcase{
  min-height: 550px;
  background: url('../img/mojhi.jpg');
  text-align: center;
  color: white;
}

.card-overlay{
  background: rgba(0, 0, 0, 0.5);
  min-height: inherit;
}
#showcase h1{
  margin-top: 40px;
  font-size: 50px;
  margin-bottom: 10px;
}

#showcase p{
  font-size: 20px;
}

/*newsletter*/
#newsletter{
  color: #ffffff;
  background: #022942;
}

#newsletter h1{
  float: left;
}

#newsletter form{
  float: right;
  margin-top: 15px;
}

#newsletter input[type="email"]{
  padding: 4px;
  height: 25px;
  width: 250px;
}

/*boxes*/
#boxes{
  margin-top: 80px;
  margin-bottom: 80px;
}

#boxes h2{
  text-align: center;
  padding-bottom: 15px;
  text-transform: uppercase;
}

#boxes .box{
  float: left;
  width: 30%;
  text-align: center;
  padding: 18px;
}

#boxes .box img{
  width: 100px;
}

#boxes .card{
  box-shadow: 0 4px 8px 2px rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: grey;
  float: left;
  width: 25%;
  border-radius: 5px;
  text-align: center;
  padding: 30px;
  margin: 15px;
}

#boxes .card img{
  width: 100px;
}

#boxes .card h3{
  color: red;
}

#boxes .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

footer{
  padding: 20px;
  margin-top: 20px;
  color: #ffffff;
  background-color: #e8491d;
  text-align: center;
}
